$small-padding:10px 10px;             /*最小行内边距*/
$normal-padding:20px 20px;            /*中等行内边距*/
$small-margin-top:20px;               /*最小行距的距离顶部*/
$normal-margin-top:40px;              /*最大行距的距离顶部*/
$navi-text-color:#ffd04b;               /*导航栏选中效果颜色*/
$navi-bg-color:#545c64;                /*导航栏背景色*/
$bg-btn-color:rgb(48,166,80);         /*按钮背景 天蓝色*/
$bg-btn-active-color:rgb(55,171,159);  /*按钮激活后的颜色 深蓝色*/
$small-text:10px;                       /*最小字号*/
$normal-text:14px;                      /*正常字号*/
$lg-text:18px;                          /*最大字号*/

